body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    margin: 0;
    padding: 20px;
}

section {
    background: #fff;
    padding: 15px 20px;
    margin: 12px 0;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

h1 {
    margin-bottom: 5px;
}

h3 {
    margin: 5px 0;
    font-size: 18px;
}


p {
    margin: 0;
    color: #555;
}
