
body {
  font-family: Arial, sans-serif;
  background-color: #2968c7;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #0078d7;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.card {
  background-color: white;
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

h2 {
  color: #005a9e;
  border-left: 5px solid #0078d7;
  padding-left: 10px;
}


p {
  font-size: 16px;
  line-height: 1.5;
}

footer {
  background-color: #0078d7;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  font-size: 14px;
}

