body{
    font-family: Arial, sans-serif;
    background-color: #54cfee;
    margin: 0;
    padding: 0;
}

.Account{
    width: 90%;
    margin: auto;
    text-align: center;
}

h1{
    font-size: 48px;
}
p{
  font-size: 20px;
}
h3{
  font-size: 19px;
}

img{
  cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 90%;
    margin-top: 10px;
    border: 2px solid #333;
}
img:hover{
    box-shadow: 0px 0px 15px #000;
}

.card{
    background: rgb(228, 178, 239);
    padding: 12px;
    margin: 12px auto;
    width: 80%;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgb(19, 16, 16);
    cursor: pointer;
}

.card:hover{
    background: white;
    transition: 0.3s;
}





